@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap");

body {
  color: black;
  background: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.disabled-button {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed opacity-50; /* Adjust styles as needed */
}

.special-text {
  font-family: "Covered By Your Grace", cursive;
  font-weight: 400;
  font-style: normal;
}
